* {
  list-style: none;
}
.reservia-logo{
  display: none;
}
a {
  text-decoration: none;
  color: initial;
}
body {
  font-family: "Raleway", "sans-serif";
  margin: 3px 0 0 0;
}
main {
  margin: auto;
  max-width: 1440px;
  width: 98%;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  max-width: 1440px;
  margin: 3px auto auto auto;
}
img.logo {
  margin: auto;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: -7px 0 0 0;
}
.li-text {
  text-align: center;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: flex-end;
  height: 72px;
  margin-top: 3px;
}
nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 155px;
  text-align: center;
  height: 70px;
  border-top: 3px solid transparent;
}
.a-active-link,
.link,
.login {
  display: flex;
  align-items: center;
}
.link-active{
  color:#0065fc
}

.link:hover {
  color: #0065fc;
  transition: 0.4s;
}

#a {
border-top: 3px solid #0065fc;
}
.link {
  color: initial;
}
li#b:hover {
border-top:3px solid #0065fc;
transition:0.4s;
}
.login {
  border-top: 5px solid transparent;
  color: #0065fc;
  font-weight: 600;
}

/*sectionRecherche*/

.h1 {
  font-size: 32px;
  margin: 10px 0 0;
}
.city-center {
  margin-top: 6px;
  margin-bottom: 6px;
}
.icon-location {
  display: flex;
  margin-top: 15px;
  margin-bottom: 35px;
  align-items: center;
  height: 52px;
  width: auto;
}
.icon-location > input {
  width: 240px;
  height: 52px;
  border: 1px solid #f2f2f2;
  padding-left: 20px;
}
.icon-location > button {
  background-color: #0065fc;
  color: white;
  width: 122px;
  height: 57px;
  border-radius: 0 14px 14px 0;
  border: 1px solid #f2f2f2;
}
.icon-location > i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 55px;
  width: 59px;
  border: 1px solid #fcfafa;
  font-size: 17px;
  border-radius: 13px 0 0 13px;
  background-color: #f2f2f2;
}
.icon-location > input::placeholder {
  font-weight: bold;
  color: black;
}
/*filtres*/
.div-filters {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  width: 100%;
  list-style: none;
  height: 100%;
  margin: 0;
  padding-left: 0;
  cursor: pointer;
}
.title-filters {
  margin: 0 4px 0 0;
  font-size: 25px;
  cursor: default;
}
.filter-button {
  display: flex;
  border: 2px solid #e2e2e2;
  margin: 0 0 0 25px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 0 20px 0 0;
  height: 49px;
}
.f-icon {
  border-radius: 100px;
}
.f-icon > i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 15px;
  background-color: #deebff;
  padding: 18px;
  border-radius: 100px;
  color: #0065fc;
}

.infos {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  margin-top: 16px;
}
.infos > i {
  padding: 7px 11px 7px 11px;
  color: #0065fc;
  border: 1px solid #e2e2e2;
  border-radius: 100px;
  font-size:17px ;
  margin-right: 20px;
}
.infos > p {
  margin: 16px;
}
.filters :hover:not(.title-filters) {
  color: #0065fc;
  transform: scale(1.05);
  transition: 0.2s;
  background-color: #deebff;
  border-color: transparent;
}
.filter-button > .f-icon :hover {
  background-color: white;
  color: #0065fc;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

/*hebergements*/
.blocs {
  background: #f2f2f2;
  border-radius: 25px;
}
.container-accommodation {
  /*ConteneurHébergements*/
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  grid-gap: 30px;

  margin: 40px 0 60px 0;
}
.marseille-accommodation {
  /*élémentsHébergement*/
  background-color: #f2f2f2;
  border-radius: 25px;
  padding-left: 45px;
}
.titre-accommodation {
  background-color: #f2f2f2;
  display: block;
  display: block;
  font-size: 18px;
  margin-left: 30px;
  border-radius:25px
}
.accommodations {
  /*chambres*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  grid-gap: 27px;
  padding: 0 40px 20px 0;
}

.marseille-room {
  /*élementsChambres*/
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: start;
  border: 8px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}

.accommodations > :hover:not(.room-popular-case-img) {
  transform: scale(1.06);
  transition: 0.6s;
}
.rooms {
  width: 100%;
}
.case-img-host {
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}
.case-text {
  background-color: #ffffff;
}
.accommodation-name {
  display: block;
  font-size: 1.17em;

  font-weight: bold;
  margin: 8px 3px;
}
.accommodation-price {
  margin: 8px 3px;
}
.price {
  font-weight: bold;
}
.show-more {
  display: block;
  font-weight: bold;
}

/*populaire*/
.bloc-most-popular {
  /*conteneur*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 25px;
  flex-direction: column;
  padding: 0;
  height: 100%;
  width: 100%;
}
.most-popular {
  /*éléments*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr;
  row-gap: 20px;
  height: 90%;
  width: 90%;
  align-items: center;
}
.most-popular .case-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h2-and-icon {
  /*titre et icone*/
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}
.h2-and-icon > h2 {
  margin: 0;
}

.h2-and-icon > .fas {
  font-size: 25px;
}
.room-popular {
  /*chambres*/
  display: flex;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  padding: 7px 0 7px 9px;
  box-shadow: 0px 0px 6px 0px #0000002e;
  width: 100%;
  height: 100%;
}
.most-popular > :hover:not(.room-popular) {
  transform: scale(1.05);
  transition: 0.5s;
}

h3.hotel-name,
p.hotel-price {
  margin: 0;
  padding: 4px 0;
}
.room-popular-case-img {
  /*imageChambres*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 13px;
  max-width: 170px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
}
.img-src {
  width: 170px;
  height: 113px;
  object-fit: cover;
  border-radius: 20px 0 0 13px;
}
.case-text-popular {
  /*texteChambres*/
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stars > i.valid {
  color: #0065fc;
}
.stars > i.null {
  color: #d9d9d9;
}
.conteneur-marseille-activity {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  height: 550px;
  grid-gap: 30px;

  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.conteneur-marseille-activity > div {
  background-color: rgb(155, 148, 148);

  padding: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px #0000002e;
}
.conteneur-marseille-activity > div > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  border-radius: 20px;
}
.conteneur-marseille-activity > div > a > h3 {
  background-color: white;
  border-radius: 0 0 20px 20px;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.conteneur-marseille-activity > div:hover {
  transform: scale(1.03);
  transition: 0.4s;
}
.item1 {
  grid-column: 1;
  grid-row: 1 / 4;
  background: url(src/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg)
    center;
  background-size: cover;
}
.item2 {
  grid-column: 2;
  grid-row: 1 / 3;
  background: url(src/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg)
    center;
  background-size: cover;
}

.item3 {
  grid-column: 2;
  grid-row: 3/4;
  background: url(src/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg)
    center;
  background-size: cover;
}
.item4 {
  grid-column: 3;
  grid-row: 1/4;
  background: url(src/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg)
    center;
  background-size: cover;
}
.item5 {
  grid-column: 4/4;
  grid-row: 1/2;
  background: url(src/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg)
    center;
  background-size: cover;
}
.item6 {
  grid-column: 4/4;
  grid-row: 2/4;
  background: url(src/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg)
    center;
  background-size: cover;
}
.footer {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.footer-blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}
.blocs-footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.footer-link {
  margin-bottom: 10px;
}
.footer-link:hover {
  text-decoration-line: underline;
}
.blocs-footer:nth-child(3) {
  margin-right: 20%;
}
body > .footer {
  width: 100%;
}
