.header{
  width: 90%;
  margin-left: 50px;
}

nav{
margin-right: 25px;
width: 90%;
}
.img-logo{
  margin-left:45px
}
.nav-link >li{
  padding:0 20px
}
.div-filters{
  display: flex;
  flex-direction: column;
  align-items:flex-start
}
ul.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
  }
  
.marseille-accommodation{
    padding:0;
}
.accommodations{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    padding: 0 30px;;
}

.case-img-host {
    width: 100%;
}
.show-more {
    display: block;
    font-weight: bold;
    margin-left: 30px;
  }
.container-accommodation{
    display:flex;
    flex-direction: column-reverse;
}
.bloc-most-popular{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.most-popular{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.1fr;
    width: 95%;
    
}
div.room-popular {
    width: 95%;
}
h3.titre-activity{
    margin-left: 30px;
}
.conteneur-marseille-activity{
    width: 90%;
    margin:0 5px 350px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    object-fit: cover;
    
}
.conteneur-marseille-activity >div{
    min-height: 260px;
}
.item1 {
    grid-row: 1;
  }
  .item2 {
    grid-column:2 ;
    grid-row: 1;
  }
  .item3 {
    grid-column: 2;
    grid-row: 2;
  }
  .item4 {
    grid-column: 1;
    grid-row: 2;
  }
  .item5 {
    grid-column: 1;
    grid-row: 3;
  }
  .item6 {
    grid-column: 2;
    grid-row: 3;
  }
  