body{
    width: 98%;
}
.reservia-logo{
    display:inline-block ;
}
header >a{
    width:100%;
    display:none;
}
.nav-link {
    display:flex;
    width: 90%;
    flex-direction: row;
    
}
.loupe{
    display:block;
}
.recherche span{
display:none;
}
header{
    width: 90%;
    margin-bottom: 0px;
    
}
/****nav****/
nav{
    width: 100%;
    height:70px;
}

.nav-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    margin-bottom:10px;
    padding: 0;
    width: 100%;
    border-spacing: 2px;    
}
.reservia-logo{
    grid-column: 1;
    grid-row:1;
    display: flex;
  justify-content: flex-start;
  width: 100%;
}
#a.li-text{
    grid-column: 1;
    grid-row: 2;
    width:100%;
    border-top: 3px solid #0065fc00;
    border-bottom: 3px solid #0065fc;
}
#b.li-text{
    grid-column: 2;
    grid-row: 2/2;
    width:100%;
    border-bottom: 3px solid #DBDBDB;
}
li#b:hover {
    border-bottom:3px solid #0065fc;
    transition:0.4s;
    
    border-top:3px solid #0065fc00;
    
}
#c.li-text{
    grid-column: 2;
    grid-row: 1/2;
    width:100%;
    justify-content: flex-end;
    margin-right: 20px;
}
main{
    margin-top: 120px;
}
.icon-location{
    width:92%;
}
.icon-location >input {
    width:100%
}
.div-filters{
    display: flex;
    flex-direction: column;align-items: flex-start;
}
.title-filters{
    margin-left: 5px;
}
ul.filters{
    display: flex;
    flex-wrap: wrap;
    
}
.filter-button{
    margin:5px;
}
.container-accommodation{
    display: flex;
    flex-direction: column-reverse;
}
.marseille-accommodation{
    width:95%;
    padding:0;
}
.accommodations{
    display:grid;
    grid-template-columns: 1fr;
    width:90%;
    padding: 0 30px 0 15px;
}
.marseille-room{
    width: 90%;
}
.room-popular-case-img {
    object-fit: cover;
    border-radius: 20px 0 0 13px;
    max-width: 170px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    width: auto;
}
.case-img-host{
    width:100%;
}
.rooms {
    width: 100%;
}
.img-src{
    object-fit: cover;
    display:flex;
    flex-wrap: nowrap;
  
    width: 70px;

}
#room1.room-popular{
display:flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;

}
.most-popular {
    width: 95%;
}
.room-popular {
    width:96%;
    margin-bottom:10px
}
.case-text-popular {
    width:100%
}

.conteneur-marseille-activity{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(6,1fr);
height:1500px
}
.item1{
    grid-row: 1;height: auto;
  }
  .item2 {
    grid-column:1 ;
    grid-row: 2;
  }
  .item3 {
    grid-column: 1;
    grid-row: 3;
  }
  .item4 {
    grid-column: 1;
    grid-row: 4;
  }
  .item5 {
    grid-column: 1;
    grid-row: 5;
  }
  .item6 {
    grid-column: 1;
    grid-row: 6;
  }
  .blocs-footer{
      padding: 5px 10px;
  }
  .footer-blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    flex-direction: column;
}